[Unit]
Description=Mastodon database backup service
[Service]
User=mastodon
Group=restic
Type=oneshot
ExecStart=/bin/bash /home/mastodon/backup.sh
ExecStartPost=/usr/bin/restic forget -r /backups/mastodon/database --tag systemd.timer --group-by "paths,tags" --keep-daily $RETENTION_DAYS --keep-weekly $RETENTION_WEEKS --keep-monthly $RETENTION_MONTHS --keep-yearly $RETENTION_YEARS
EnvironmentFile=/home/mastodon/.config/mastodon-database-backup.conf