[Unit]
Description=Prune data from the restic repository weekly (Mastodon db)
[Timer]
OnCalendar=weekly
Persistent=true
[Install]
WantedBy=multi-user.target